<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} |{% endif %} {{ site.theme.title }}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.theme.description }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-Frame-Options" content="sameorigin">
	
	<!-- CSS -->
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="/static/styles.css">
	
	<!--Favicon-->
	<link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
	
	<!-- Canonical -->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	
	<!-- RSS -->
	<link rel="alternate" type="application/atom+xml" title="{{ site.theme.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
	
	<!-- Font Awesome -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	
	<!-- Google Fonts -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic" rel="stylesheet" type="text/css">
	
        <!-- KaTeX -->
	{% if site.theme.katex %}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"></script>
	{% endif %}

	<!-- Google Analytics -->
	{% if site.theme.google_analytics %}
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', '{{ site.theme.google_analytics }}', 'auto');
	ga('send', 'pageview');
	</script>
	{% endif %}
	<style type"text/css">
	table { width: 100%; height: auto; border: 2px solid black; }
	td { border: 2px solid black;  }
	table table { border: 0; height: 100%; }
	.callout { padding: 0; background-color: none; };
	.callout > table { width: 100px; height: 180px; opacity:0.9}
	</style>
	
	<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
	<script>
    (function(){
        console.log('setting up mondrian')
        /*** init variables ***/
        var colors = ['#bb2233','#0CC2F1','#eedd33'],
                     minRowCols = 3,
                     maxRowCols = 16,
                     recursionChance = 0.2,
                     recursionDepreciationRate = 0.05,
                     styleChance = 0.3;
        $button = $('button');

        /*** helper functions ***/

        // returns table with # of rows & columns between min & max
        var generateMondrianTable = function(minRows, maxRows, minCols, maxCols, chance){
            console.log('making mondrian')

            var numRows = Math.floor(Math.random() * (maxRows + 1 - minRows) + minRows);
            var numCols = Math.floor(Math.random() * (maxCols + 1 - minCols) + minCols);

            // create this table
            var $thisTable = $('<table border="0" cellpadding="0" cellspacing="0">');

            // append rows to this table
            for ( var i = 0; i < numRows; i++ ) {
                $thisTable.append('<tr></tr>');
            }

            // append cells to each of this table's rows
            $thisTable.find('tr').each(function(){
                for ( var j = 0; j < numCols; j++ ) {
                    $(this).append('<td> </td>');
                }
            });

            // for each lucky cell, generate a new table
            $thisTable.find('td').each(function(){
                var feelingLucky = (Math.random() < chance) ? true : false;

                if ( feelingLucky ) {
                    var newerTable = generateMondrianTable(3, 4, 12, 16, chance * recursionDepreciationRate);
                    $(this)
                        .append(newerTable)
                        .css({
                            'border' : 'none'
                        });
                }
            });

            return $thisTable;
        };

        // returns a background color, mostly white
        var getCellBackgroundColor = function(){
            var setToPrimaryColors = (Math.random() < styleChance) ? true : false;
            var bgColor;

            // set random background color or white
            if ( setToPrimaryColors ) {
                bgColor = colors[Math.floor(Math.random() * (colors.length + 1))];
            }
            else {
                bgColor = 'white';
            }

            return bgColor;
        };

        // returns a percentage between 0 and 100 if it has a chance
        var getRandomPercentage = function(){
            var setToPercentage = (Math.random() < styleChance) ? true : false;
            var percentage;

            if ( setToPercentage ) {
                percentage = Math.floor(Math.random() * (100 + 1));
            }
            else {
                percentage = '100';
            }

            return percentage;
        };

        /*** let's make some friggin art ***/

        // get the "frame"
        var $frame = $('.call-out');

        // paint in each "frame"
        $frame.each(function(){

            var $thisFrame = $(this)

            // generate initial table
            var newTable = generateMondrianTable(minRowCols, maxRowCols, recursionChance);
            $thisFrame.append(newTable);

            // randomize cell styling
            $thisFrame.find('td').each(function(){
                $(this).css({
                    'background-color' : getCellBackgroundColor(),
                });
            });

            // randomize row sizes
            $thisFrame.find('> tr').each(function(){
                $(this).css({
                    'height' : getRandomPercentage() + '%'
                });
            });
        });

    })();
	</script>
	
</head>
