{% if site.theme_data.rss %}
<li>
	<a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.theme_data.str_rss_follow }}">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.email_address %}
<li>
	<a href="mailto:{{ site.theme_data.email_address }}" title="{{ site.theme_data.str_email }}">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.behance %}
<li>
	<a href="https://www.behance.net/{{ site.theme_data.behance }}" title="{{ site.theme_data.str_follow_on }} Behance">
		<i class="fa fa-fw fa-behance"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.bitbucket %}
<li>
	<a href="https://bitbucket.org/{{ site.theme_data.bitbucket }}" title="{{ site.theme_data.str_follow_on }} Bitbucket">
		<i class="fa fa-fw fa-bitbucket"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.dribbble %}
<li>
	<a href="https://dribbble.com/{{ site.theme_data.dribbble }}" title="{{ site.theme_data.str_follow_on }} Dribbble">
		<i class="fa fa-fw fa-dribbble"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.facebook %}
<li>
	<a href="https://www.facebook.com/{{ site.theme_data.facebook }}" title="{{ site.theme_data.str_follow_on }} Facebook">
		<i class="fa fa-fw fa-facebook"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.flickr %}
<li>
	<a href="https://www.flickr.com/photos/{{ site.theme_data.flickr }}" title="{{ site.theme_data.str_follow_on }} Flickr">
		<i class="fa fa-fw fa-flickr"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.github %}
<li>
	<a href="https://github.com/{{ site.theme_data.github }}" rel="me" title="{{ site.theme_data.str_follow_on }} GitHub">
		<i class="fa fa-fw fa-github"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.gitlab %}
<li>
	<a href="https://gitlab.com/{{ site.theme_data.gitlab }}" rel="me" title="{{ site.theme_data.str_follow_on }} Gitlab">
		<i class="fa fa-fw fa-gitlab"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.google_plus %}
<li>
	<a href="https://plus.google.com/{{ site.theme_data.google_plus }}" rel="me" title="{{ site.theme_data.str_follow_on }} Google+">
		<i class="fa fa-fw fa-google-plus"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.instagram %}
<li>
	<a href="http://instagram.com/{{ site.theme_data.instagram }}" rel="me" title="{{ site.theme_data.str_follow_on }} Instagram">
		<i class="fa fa-fw fa-instagram"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.linkedin %}
<li>
	<a href="{{ site.theme_data.linkedin }}" rel="me" title="{{ site.theme_data.str_follow_on }} LinkedIn">
		<i class="fa fa-fw fa-linkedin"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.pinterest %}
<li>
	<a href="http://www.pinterest.com/{{ site.theme_data.pinterest }}" rel="me" title="{{ site.theme_data.str_follow_on }} Pinterest">
		<i class="fa fa-fw fa-pinterest"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.reddit %}
<li>
	<a href="https://www.reddit.com/user/{{ site.theme_data.reddit }}" rel="me" title="{{ site.theme_data.str_follow_on }} Reddit">
		<i class="fa fa-fw fa-reddit"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.soundcloud %}
<li>
	<a href="https://soundcloud.com/{{ site.theme_data.soundcloud }}" rel="me" title="{{ site.theme_data.str_follow_on }} SoundCloud">
		<i class="fa fa-fw fa-soundcloud"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.stack_exchange %}
<li>
	<a href="{{ site.theme_data.stack_exchange }}" rel="me" title="{{ site.theme_data.str_follow_on }} Stack Exchange">
		<i class="fa fa-fw fa-stack-exchange"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.steam %}
<li>
	<a href="http://steamcommunity.com/id/{{ site.theme_data.steam }}" rel="me" title="{{ site.theme_data.str_follow_on }} Steam">
		<i class="fa fa-fw fa-steam"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.tumblr %}
<li>
	<a href="http://{{ site.theme_data.tumblr }}.tumblr.com/" rel="me" title="{{ site.theme_data.str_follow_on }} Tumblr">
		<i class="fa fa-fw fa-tumblr"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.twitter %}
<li>
	<a href="https://twitter.com/{{ site.theme_data.twitter }}" rel="me" title="{{ site.theme_data.str_follow_on }} Twitter">
		<i class="fa fa-fw fa-twitter"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.mastodon %}
<li>
	<a href="{{ site.theme_data.mastodon }}" rel="me" title="{{ site.theme_data.str_follow_on }} Mastodon"><img src="/img/mastodon_logo.svg" style="width:16px"></a>
</li>
{% endif %}

{% if site.theme_data.wordpress %}
<li>
	<a href="https://{{ site.theme_data.wordpress }}.wordpress.com/" rel="me" title="{{ site.theme_data.str_follow_on }} WordPress">
		<i class="fa fa-fw fa-wordpress"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.youtube %}
<li>
	<a href="https://www.youtube.com/user/{{ site.theme_data.youtube }}" rel="me" title="{{ site.theme_data.str_follow_on }} YouTube">
		<i class="fa fa-fw fa-youtube"></i>
	</a>
</li>
{% endif %}
