{% if site.theme_data.rss %}
<li>
	<a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.theme_data.str_rss_follow }}">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{% endif %}

{% if site.theme_data.email_address %}
<li>
	<a href="mailto:{{ site.theme_data.email_address }}" title="{{ site.theme_data.str_email }}">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{% endif %}

{% for link in site.theme_data.service_links %}
	<li>
		<a href="{{ link.link }}" rel="me nofollow" title="{{ site.theme_data.str_follow_on }} {{ link.name | capitalize }}">
			{% if link.icon contains "fa-" %}
			<i class="fa fa-fw {{ link.icon}}"></i>
			{% else %}
			<img src="{{ link.icon }}" style="width:16px">
			{% endif %}
		</a>
	</li>
{% endfor %}

