<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="/static/js/jquery-handlebars-1.1.4.min.js"></script>
<script type="text/javascript">
$(function(){
  $.handlebars({
    templatePath: 'static/handlebars',
    templateExtension: 'hbs'
  });
  $.handlebars.registerHelper('getIcon', function(type) {
    if (type == "like") {
		return "fa-thumbs-o-up";
	} else {
		return "fa-comment-o";
	}
  });
  console.log("trying to load webmentions");
  $.getJSON("https://webmention.io/api/mentions?jsonp=?", {
    //target: window.location.href
	target: "https://www.monkinetic.blog/diso-after-10-years.html"
  }, function(data){
    console.log("got webmention data:");
    console.log(data);

    $('.comments').render('mentions', {
		mentions: data.links
	})
  });
});  
</script>
