.mentions {
	a {
		font-weight: normal;
	}
	abbr {
		text-decoration: none;
	}
	
	.entry-title {
		font-size: 85%;
        
		.vcard {
			margin-left: .5em;
	
            .h-photo {
                float: left;
                border-radius: 3px;
                width: 32px;
            }
	    }

		.permalink {
			font-weight: normal;
			margin-left: 1em;
		}
	}
	
	.entry-content {
		.h-type {
			float: left;
			margin: 0 6px; /* lines up with 32px avatar */
		}
		q {
			display: block;
			margin-left: 32px;
			padding-left: .5em;
			&:before, &q:after {
				content: "";
			}
		}
	}
	
}
