// Header text feature
.call-out {
  display: inline-block;
  position: relative;
  width: 100%;
  background: none repeat scroll 0% 0% $header-desc-background-color;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
  border-bottom: 8px solid darken($header-desc-background-color, 15%);
  padding: 0;
}

.call-out-background {
  content: ' ';
  position: relative;
  width: 100%;
  height: 130px;
  display: block;
  background-image: url(http://i.imgur.com/UMNwIAzg.png);
  background-repeat: no-repeat;
  background-position: -20px -80px;
  opacity: 0.5;
  float: left;
}

.call-out p:last-child {
  position: absolute;
  top: 0;
  left: 0;
  margin: 4% auto;
  width: 100%;
}
// Post listing
.posts {
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    p a:hover {
      @extend %link-hover;
    }
  }
  .article {
    border: 1px solid #ccc;
    border-bottom: 1px solid #999;
    background-color: #fefefe;
    margin: 1% 10%;
    width: auto;
    padding: 5% 10%;
  }
  .excerpt {
    margin-top: 1em;
  }
}
// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}
