body {
    font-family: "Helvetica Nueue", Helvetica, Arial, sans-serif;
}

.container {
    width: 500px;
    text-align: left;    
}

code {
    margin-left: 20px;
    font-size: 0.8em;
    opacity: 0.7;
    display: block;
}
