---
layout: default
---

<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.title }}</h1>
  </header>
  <section class="post-content">
    {{ content }}

    {% for post in site.posts %}
        {% assign currentdate = post.date | date: "%B %Y" %}
        {% if currentdate != date %}
            <a href="#y{{post.date | date: "%B-%Y" | lower}}">{{ currentdate }}</a>{% if forloop.last %}{% else %} &bull; {% endif %}
            {% assign date = currentdate %}
        {% endif %}

    {% endfor %}

    {% for post in site.posts %}
        {% assign currentdate = post.date | date: "%B %Y" %}
        {% if currentdate != date %}
            {% unless forloop.first %}</ul>{% endunless %}
            <h2 id="y{{post.date | date: "%B-%Y" | lower}}">{{ currentdate }}</h2>
            <ul>
            {% assign date = currentdate %}
        {% endif %}
            <li><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></li>
        {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
  </section>
</article>

