---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>

  <header {% if page.feature-img %}class="header-with-feature-img"{% endif %} style="background-image: url('{% unless page.feature-img contains 'http' %}{{ site.url }}/{% endunless %}{{ page.feature-img }}')">
    <h1 style="{% if page.header-text-color %} color: {{ page.header-text-color }}{% endif %}" class="title">{{ page.title }}</h1>
    <!-- {{ page.header-text-color }} -->
    <p {% if page.header-text-color %}style="color: {{ page.header-text-color }}" {% endif %}class="meta">
    Published {{ page.date | date: "%B %-d, %Y" }}
    {% if page.author %} - {{ page.author }}{% endif %}
    </p>
  </header>

  <section class="post-content">
    {{ content }}

    <a href="https://twitter.com/share" class="twitter-share-button" data-via="steveivy" data-hashtags="monkinetic" data-dnt="true" data-show-count="true">Tweet</a>
    <a href="https://twitter.com/intent/tweet?screen_name=steveivy" class="twitter-mention-button" data-hashtags="monkinetic" data-text="Re: {{ page.url | prepend: site.url }}" data-show-count="false">Reply/Comment</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    
    {% if site.theme_data.gitlab_repo %}
    <a target="_new" href="https://gitlab.com/{{ site.theme_data.gitlab_repo }}/edit/master/{{ page.path }}">Edit</a>
    {% endif %}
  </section>
  
  <div style="text-align: center; margin: 2% auto; font-size:smaller">
      {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
      {% if page.previous.url and page.next.url %} | {% endif %}
      {% if page.next.url %}
        <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
      {% endif %}
  </div>

</article>

<!-- Disqus -->
{% if site.theme_data.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}
