/* Smartphones (portrait and landscape) ----------- */
/*
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    h1 {
        font-size: 1em;
    }
    
    .featured {
        border-left: none;
        border-right: none;
    }
    
    header .meta {
        font-size: 0.7em
    }
    
    .site-header {
        .avatar {
            height: 2em;
            width: 2em;
        }
        .site-title {
            font-size: .9em;
        }
        .fa-rss, .fa-github, .fa-gitlab {
            display: none;
        }
    }
}

*/