// Typography
$font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size: 1.25em;
$header-font-family: 'Roboto Slab';

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #fff;
$background-color: #fefefe;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #222222;
// $link-color: #E9994A;
$selection-color: #D4D4D4; // visible when highlighting text

// Header colours
$header-link-color: #383838;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

$colors-list: (
  // (background, link)
  #DAE076 #AD5C55,
  #A9C9C5 #718A8A,
  #AD5C55 #5E7D68,
  #374768 #718A8A,
  #AD5C55 #E6A570,
  #9E9778 #453E22,
  #9FBDD7 #797367,
  #5F5E5D #E87162,
);
$color-index: random(length($colors-list));

// Header description box
$colors: nth($colors-list, $color-index);
$header-desc-background-color: nth($colors, 1);
$link-color: nth($colors, 2);

$header-desc-text-color: #FFF;
